/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  font-size: 16px;
  --text-primary: rgb(234, 234, 20);
  --text-secondary: rgb(32, 210, 255);
}

* {
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

/* --------- Body ------------- */
body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

.container-fluid {
  padding: 0;
}
/* ---------- Navbar ---------- */

.left-sidebar-munch {
  font-size: 2rem;
  font-weight: 600;
  height: 4rem;
  text-align: center;
  padding-top: 0.5rem;
  border-style: border-box;

}

.left-sidebar {
  width: inherit;
  height: 100vh;
  position: fixed;
  background-color: #f7f7f7;
  border-right: 1px solid #e7e7e7;
  
}

.left-sidebar-nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-nav-item {
  display: flex !important;
  align-items: center;
  height: 3rem;
  color: black !important;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms !important;
  border-radius: 10px;
  padding-left: 1rem;
  margin-top: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.left-nav-item:hover {
  filter: grayscale(0%) opacity(1);
  background-color: grey;
  color: black;
}

.left-nav-item:last-child {
  margin-top: auto;
}


.left-link-text {
  margin-left: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.fa-solid {
  color: rgb(32, 210, 255);
  transition: 600ms;
}

@media screen and (max-width: 1199px){
  .left-nav-item {
    justify-content: center;
    padding-left: 0;
  }
}

/* ---------- Main ---------- */
main {
  /* margin-left: 15rem;
  padding: 1px;
  margin-bottom: 3rem;
  margin-right: 23rem; */
}

/* ---------- left Navbar ---------- */
.right-sidebar {
   width: inherit;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #f7f7f7;
  border-left: 1px solid #e7e7e7;
  padding: 1rem;
}

.right-sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.right-sidebar-title {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.search-box{
  border-radius: 10px;
  background-color: #E7E7E7;
  cursor: pointer;
}

.search-box:hover{
  background-color: #E7E7E7;
  filter: grayscale(100%) opacity(0.7);
}


.search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: #E7E7E7;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
}