﻿@using Microsoft.AspNetCore.Http;
@using MySql.Data.MySqlClient;  
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EffectiveWebProg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EffectiveWebProg.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    
    @{
        var controller = (string)ViewContext.RouteData.Values["controller"];
    }

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-1">
                <nav class="left-sidebar">
                    <ul class="left-sidebar-nav">
                        <li class="left-sidebar-munch">
                            <span class="d-none d-xl-inline">Munch</span>
                        </li>
                        @{ 
                            string connectionString = "server=mysql-webprogramming1-sit-cc31.c.aivencloud.com;port=19112;database=Munch;uid=avnadmin;pwd=AVNS_HsKVnqOod_xgB4OJwUT;sslmode=Required";

                            // SQL query to fetch user or restaurant information based on email
                            string query = @"
                                SELECT UserPassword AS Password, UserEmail AS Email, UserID AS UserID, NULL AS RestID
                                FROM Munch.Users
                                WHERE UserEmail = @UserEmail
                                
                                UNION
                                
                                SELECT RestPassword AS Password, RestEmail AS Email, NULL AS UserID, RestID AS RestID
                                FROM Munch.Restaurants
                                WHERE RestEmail = @UserEmail
                                ";

                            Console.WriteLine("Fetching account information...");

                            try
                            {
                                // Assuming you're using ASP.NET Core, getting session value
                                var current_user_email = @Context.Session.GetString("SSName");

                                Console.WriteLine($"Current user email: {current_user_email}");

                                // Wrap MySqlConnection in using statement to ensure disposal
                                using (MySqlConnection con = new MySqlConnection(connectionString))
                                {
                                    con.Open(); // Open the connection

                                    using (MySqlCommand cmd = new MySqlCommand(query, con))
                                    {
                                        // Add parameters to the command
                                        cmd.Parameters.AddWithValue("@UserEmail", current_user_email);

                                        using (MySqlDataReader reader = cmd.ExecuteReader())
                                        {
                                            if (reader.Read())
                                            {
                                                var userId = reader["UserID"] as Guid?;
                                                var restId = reader["RestID"] as Guid?;

                                                if (userId.HasValue)
                                                {
                                                    <li class="left-nav-item">
                                                        <a class="left-nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">
                                                            <i class="fa-solid fa-user"></i>
                                                            <span class="left-link-text d-none d-xl-inline">Profile</span>
                                                        </a>
                                                    </li>

                                                    Console.WriteLine($"User account found: UserID = {userId}");
                                                }
                                                else if (restId.HasValue)
                                                {
                                                    <li class="left-nav-item">
                                                        <a class="left-nav-link text-dark" asp-area="" asp-controller="RestProfile" asp-action="Index">
                                                            <i class="fa-solid fa-bowl-food"></i>
                                                            <span class="left-link-text d-none d-xl-inline">Restaurant Profile</span>
                                                        </a>
                                                    </li>

                                                    // Handle restaurant account
                                                    Console.WriteLine($"Restaurant account found: RestID = {restId}");
                                                }
                                                else
                                                {

                                                    HttpContextAccessor.HttpContext.Session.Clear();
                                                    Console.WriteLine("No account found for the given email.");
                                                    HttpContextAccessor.HttpContext.Response.Redirect("/Auth/Login");

                                                }
                                            }
                                            else
                                            {
                                                
                                                Console.WriteLine("No rows returned.");
                                            }
                                        }
                                    }
                                }
                            }
                            catch (Exception ex)
                            {
                                Console.WriteLine($"Error: {ex.Message}");
                            }
                                    
                        }  
                        <li class="left-nav-item">
                            <a class="left-nav-link text-dark" asp-area="" asp-controller="Map" asp-action="Index">
                                <i class="fa-solid fa-map"></i>
                                <span class="left-link-text d-none d-xl-inline">Map</span>
                            </a>
                        </li>
                        <li class="left-nav-item">
                            <a class="left-nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">
                                <i class="fa-solid fa-house"></i>
                                <span class="left-link-text d-none d-xl-inline">Main Feed</span>
                            </a>
                        </li>
                        <li class="left-nav-item">
                            <a class="left-nav-link text-dark" asp-area="" asp-controller="Dashboard"
                                asp-action="Index">
                                <i class="fa-solid fa-tachometer-alt"></i>
                                <span class="left-link-text d-none d-xl-inline">Dashboard</span>
                            </a>
                        </li>
                        <li class="left-nav-item">
                            <a class="left-nav-link text-dark" asp-area="" asp-controller="Foodlist" asp-action="Index">
                                <i class="fa-solid fa-utensils"></i>
                                <span class="left-link-text d-none d-xl-inline">Foodlist</span>
                            </a>
                        </li>
                        <li class="left-nav-item">
                            <a class="left-nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">
                                <span class="left-link-text">Log out</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xl-10 col-11">
                <main role="main">
                    @RenderBody()
                </main>

    @* <nav class="right-sidebar">
        <div class="right-sidebar-container">
            <div class="right-sidebar-title">
                Explore
            </div>
        </div>
    </div>
    *@


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

</body>

</html>
