﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EffectiveWebProg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EffectiveWebProg.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    @{
        var controller = (string)ViewContext.RouteData.Values["controller"];
    }
    <nav class="left-sidebar">
        <ul class="left-sidebar-nav">
            <li class="left-sidebar-munch">
                Munch
            </li>
            <li class="left-nav-item">
                <a class="left-nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">
                    <i class="fa-solid fa-user"></i>
                    <span class="left-link-text">Profile</span>
                </a>
            </li>
            <li class="left-nav-item">
                <a class="left-nav-link text-dark" asp-area="" asp-controller="RestProfile" asp-action="Index">
                    <i class="fa-solid fa-bowl-food"></i>
                    <span class="left-link-text">Restaurant Profile</span>
                </a>
            </li>
            <li class="left-nav-item">
                <a class="left-nav-link text-dark" asp-area="" asp-controller="Map" asp-action="Index">
                    <i class="fa-solid fa-map"></i>
                    <span class="left-link-text">Map</span>
                </a>
            </li>
            <li class="left-nav-item">
                <a class="left-nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">
                    <i class="fa-solid fa-house"></i>
                    <span class="left-link-text">Main Feed</span>
                </a>
            </li>
            <li class="left-nav-item">
                <a class="left-nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <i class="fa-solid fa-tachometer-alt"></i>
                    <span class="left-link-text">Dashboard</span>
                </a>
            </li>
            <li class="left-nav-item">
                <a class="left-nav-link text-dark" asp-area="" asp-controller="Foodlist" asp-action="Index">
                    <i class="fa-solid fa-utensils"></i>
                    <span class="left-link-text">Foodlist</span>
                </a>
            </li>
            <li class="left-nav-item">
                <a class="left-nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">
                    <span class="left-link-text">Log out</span>
                </a>
            </li>
        </ul>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    @* <nav class="right-sidebar">
        <div class="right-sidebar-container">
            <div class="right-sidebar-title">
                Explore
            </div>
        </div>
    </nav> *@

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

</body>
</html>
