@model EffectiveWebProg.Models.ErrorViewModel

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    <strong>Development Mode</strong> - For local development, enable detailed error information. <br />
    <strong>Production Mode</strong> - Configure the middleware to handle exceptions and render a user-friendly error page.
</p>
