@{
    Layout = null;
}


<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Online Website Builder v5.9.13, https://a.mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.13, a.mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="~/assets/images/photo-1536681052895-9f6a24b82141.jpeg" type="image/x-icon">
  <meta name="description" content="Munch is the ultimate platform for food enthusiasts to share their culinary experiences, review restaurants, and make reservations. Join us in exploring the world of flavors!">
  <title>Munch Food Reviews</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1715915237374">
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/bootstrap/css/bootstrap.min.css?rnd=1715915237374">
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1715915237374">
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1715915237374">
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/parallax/jarallax.css?rnd=1715915237374">
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/dropdown/css/style.css?rnd=1715915237374">
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/socicon/css/styles.css?rnd=1715915237374">
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/theme/css/style.css?rnd=1715915237374">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/448089/assets/css/mbr-additional.css?rnd=1715915237374" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-ucZTcS2P0r" once="menu" id="menu-5-ucZTcS2P0r">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="https://mobiri.se">
						<img src="~/assets/images/photo-1536681052895-9f6a24b82141.jpeg" alt="Mobirise Website Builder" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="https://mobiri.se">munch</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se">Foodies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se" aria-expanded="false">Reviews</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se">Reservations</a>
					</li>
				</ul>
				
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="@Url.Action("Login", "Auth")">Login</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-ucZTcS3AB0 mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/EbxNdaJEwzk?autoplay=1&amp;loop=1&amp;playlist=EbxNdaJEwzk&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-15-ucZTcS3AB0">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Feast Hub</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Indulge in the Ultimate Foodie Experience - Share, Rate, and Reserve Your Way to Culinary Bliss!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="https://mobiri.se">Explore Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article4 cid-ucZTcS3rj4" id="about-us-4-ucZTcS3rj4">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="~/assets/images/photo-1526016650454-68a6f488910a.jpeg" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
						<strong>Who We Are</strong>
					</h1>
					<p class="mbr-text mbr-fonts-style mb-3 display-7">Welcome to munch, where foodies unite to share their culinary adventures and review the hottest restaurants in town!</p>

					<p class="mbr-text mbr-fonts-style mb-3 display-7">Our mission is to create a vibrant community where food lovers can connect, discover new flavors, and make reservations with ease.</p>
					<p class="mbr-text mbr-fonts-style mb-3 display-7">Join us in celebrating the art of dining and let your taste buds lead the way to unforgettable experiences!</p>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="header12 cid-ucZTcS3rCb" id="call-to-action-8-ucZTcS3rCb">
    

    
    

    <div class="text-center container">
        <div class="row mb-4 justify-content-center">
            <div class="col-12 col-md-4">
                <img src="~/assets/images/photo-1635843131662-3f73685114af.jpeg" alt="Mobirise Website Builder">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 content-head">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                    <strong>Join the Foodie Revolution</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style mb-4 display-7">Start posting, reviewing, and reserving to unlock exclusive perks and gastronomic delights!</p>
                <div class="mbr-section-btn mt-4">
                    <a class="btn btn-primary display-7" href="https://mobiri.se">Sign Up Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features10 cid-ucZTcS4qPY" id="metrics-2-ucZTcS4qPY">
  

  
  
  <div class="container">
    
    <div class="row justify-content-center">
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>10K+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Foodies Connected</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>5K+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Restaurants Reviewed</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>2K+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Reservations Made</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="people03 cid-ucZTcS4QVJ" id="team-1-ucZTcS4QVJ">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Food Wizards</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="~/assets/images/photo-1569598409550-55537a83a662.jpeg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Max</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Chief Foodie Officer</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="~/assets/images/photo-1595436065982-84fa400d8d8e.jpeg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Luna</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Culinary Creativity Queen</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="~/assets/images/photo-1548130149-a6955bd8d6f9.jpeg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Ethan</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Flavor Maestro</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                       <img src="~/assets/images/photo-1589156191108-c762ff4b96ab.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Aria</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Taste Sensation Specialist</h6>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features5 cid-ucZTcS4vpN" id="features-24-ucZTcS4vpN">
    

    
    
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-12 content-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Feast Central</strong>
                </h3>
                <p class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">Where Food Dreams Come True - Share, Review, Reserve!</p>
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <p class="card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Foodie Hub</strong>
                        </p>
                        <p class="card-text mbr-fonts-style display-7">A vibrant community sharing their culinary adventures and discoveries.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <p class="card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Review Rave</strong>
                        </p>
                        <p class="card-text mbr-fonts-style display-7">Honest and mouth-watering reviews to guide your dining escapades.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <p class="card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Reservation Realm</strong>
                        </p>
                        <p class="card-text mbr-fonts-style display-7">Seamless booking system to secure your spot at the hottest spots.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <p class="card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Taste Tales</strong>
                        </p>
                        <p class="card-text mbr-fonts-style display-7">Engaging stories and experiences from food enthusiasts around the globe.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <p class="card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Flavor Fiesta</strong>
                        </p>
                        <p class="card-text mbr-fonts-style display-7">Exciting events and tastings to tantalize your taste buds.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <p class="card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Cuisine Chronicles</strong>
                        </p>
                        <p class="card-text mbr-fonts-style display-7">Exploring the rich history and culture behind every delectable dish.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="people04 cid-ucZTcS5CB9" id="testimonials-4-ucZTcS5CB9">
	
	
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>NomNom</strong>
				</h3>
				
			</div>
		</div>
		<div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">I found my foodie family here! The reviews are spot-on, and the reservations are a breeze.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="~/assets/images/photo-1557684387-08927d28c72a.jpeg" data-slide-to="0" data-bs-slide-to="0" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Gordon Ramsay</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">A culinary wonderland! The stories shared here are as delightful as the dishes themselves.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="~/assets/images/photo-1606081430924-b6480765d470.jpeg" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Julia Child</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Munch is a food lover's paradise! The events are a gastronomic adventure waiting to happen.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="~/assets/images/photo-1591084728795-1149f32d9866.jpeg" data-slide-to="5" data-bs-slide-to="5" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Anthony Bourdain</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="image02 cid-ucZTcS5yQd mbr-fullscreen mbr-parallax-background" id="image-13-ucZTcS5yQd">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="article8 cid-ucZTcS5CI2" id="generic-text-8-ucZTcS5CI2">
  

  
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-10">
        <div class="card-wrapper">
          <div class="image-wrapper d-flex justify-content-center mb-4">
            <img src="~/assets/images/photo-1579633711380-ad5922a56153.jpeg" alt="Mobirise Website Builder">
          </div>
          <div class="card-content-text">
            <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
            <strong>Welcome to Munch</strong>
          </h3>
          <div class="row card-box align-left">
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                
                <p class="mbr-text mbr-fonts-style display-7">Indulge in a world of flavors, where every bite tells a story. At Munch, we're not just about food; we're about creating unforgettable culinary experiences.</p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                
                <p class="mbr-text mbr-fonts-style display-7">Join our community of food enthusiasts, share your reviews, reserve tables at top restaurants, and immerse yourself in a gastronomic journey like no other.</p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                
                <p class="mbr-text mbr-fonts-style display-7">Whether you're a seasoned food critic or a casual diner, Munch is your passport to a realm of taste sensations and epicurean delights. Let the feasting begin!</p>
              </div>
            </div>
            
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features03 cid-ucZTcS5ey2" id="news-1-ucZTcS5ey2">
  
  
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 content-head">
        <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Munch Madness Unleashed</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item features-image col-12 col-md-6 col-lg-3 active">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="~/assets/images/photo-1556008531-57e6eefc7be4.jpeg" alt="Mobirise Website Builder" title="">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
              <strong>Foodie Frenzy Begins</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">May 17, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Join the culinary chaos as we dive into a world of flavors, reviews, and reservations! Let your taste buds run wild!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Feast</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="~/assets/images/photo-1607098665874-fd193397547b.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Sizzling Hot Reviews</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">May 17, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Discover the hottest spots in town with reviews that will make your mouth water. Get ready for a taste sensation!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Feast</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="~/assets/images/photo-1619685350254-c7b4e26988eb.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Reservation Revolution</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">May 17, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Say goodbye to waiting in line! Revolutionize your dining experience with our easy reservation system. Book your table now!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Feast</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="~/assets/images/photo-1604431838498-cb46f9656fbd.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Taste Bud Temptations</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">May 17, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Indulge in a world of temptations that will tantalize your taste buds. Get ready for a culinary adventure like no other!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Feast</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="list05 cid-ucZTcS7gJG" id="faq-3-ucZTcS7gJG">
    
    <div class="container">
        <div class="col-12 mb-5 content-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Hungry for Answers?</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-8">
                <div class="item features-without-image col-12 active">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>How to Post Food Reviews?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">To post a food review, simply create an account and start sharing your culinary experiences with the world! Let your voice be heard!</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Can I Make Reservations Online?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Absolutely! Our online reservation system makes booking a table a breeze. Say goodbye to long wait times and hello to convenience!</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Need Help with Restaurant Reviews?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Our support team is here to assist you every step of the way. Whether you're a seasoned food critic or a newbie, we've got your back!</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>What's the Review Rating System?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Our review rating system is based on a scale of flavor explosions! From mild to wild, you can express your foodie feelings with flair!</p>
                  </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                    <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                        <strong>How to Discover New Restaurants?</strong></h5>
                    <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Explore our curated list of hidden gems and popular hotspots. Let your taste buds travel to new culinary destinations with just a click!</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery09 cid-ucZTcS7B6H" id="gallery-9-ucZTcS7B6H">
  

  

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-4 main-text">
        <div class="">
          <h5 class="mbr-section-title mbr-fonts-style mt-0 mb-4 display-2">
            <strong>Foodie Delights</strong>
          </h5>
          <h6 class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-7">Feast your eyes on a visual banquet of mouthwatering dishes, exotic cuisines, and culinary masterpieces. Get ready to drool over our gallery of foodie delights!</h6>
          
        </div>
      </div>

      <div class="col-lg-8 side-features row">
        <div class="item features-image col-12 col-md-6 col-lg-6 active">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="~/assets/images/photo-1580570656963-1a3c8e26b687.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
            </div>
            
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-6 active">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="~/assets/images/photo-1627662236865-75ef4bba23a0.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
            </div>
            
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-6 active">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="~/assets/images/photo-1491961865842-98f7befd1a60.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
            </div>
            
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-6 active">
          <div class="item-wrapper">
            <div class="item-img">
              <img src="~/assets/images/photo-1614835964556-22807e3eeb39.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="social05 cid-ucZTcS8geU" id="follow-us-2-ucZTcS8geU">
    

    

    <div class="container">
        <div class="row">
            <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                <strong>Join the Foodie Fun</strong>
            </h3>
            <div class="col-12">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients04 cid-ucZTcS8GWC" id="partners-1-ucZTcS8GWC">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Join Forces with munch</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2 active">
                <div class="item-wrapper">
                    <div class="">
                        <img src="~/assets/images/photo-1681415851723-dca11d0ec9a6.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="~/assets/images/photo-1651044450619-5ce74d316987.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="~/assets/images/photo-1502828331539-51c709e80300.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="~/assets/images/photo-1596622723231-b20320c7346b.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="~/assets/images/photo-1529612700005-e35377bf1415.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="~/assets/images/photo-1606136968306-ab2868cc1f21.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="6" data-bs-slide-to="6">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-ucZTcS8pNL" id="contact-form-3-ucZTcS8pNL">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Let's Get in Touch</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="PY3M/3UVxFmTDBBD5T/jrUYYIkBE0z4ghkY5cS6siVEuvU6nnbVSgUAXppBx+W/YiE5Wk7V3BLD/bophMUq2iNDCB8zwL8/ceWzXCD3CwVjJti5X0jujLzMaoLy6l4a2">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-3-ucZTcS8pNL">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-3-ucZTcS8pNL">
                        </div>
                        <div class="col-12 form-group mb-3 mb-3" data-for="url">
                            <input type="url" name="url" placeholder="Phone" data-form-field="url" class="form-control" value="" id="url-contact-form-3-ucZTcS8pNL">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-3-ucZTcS8pNL"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts03 cid-ucZTcS859Q" id="contacts-11-ucZTcS859Q">
  

  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12 col-md-12">
          <h5 class="mbr-section-title mbr-fonts-style mt-0 mb-4 display-2">
            <strong>Connect with munch</strong>
          </h5>
          <p class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-7">
            Call: 1-800-MUNCH-NOW
            <br>Email: info@munch.com
            <br>Visit: Singapore Singapore
            <br>Opening Hours: Mon-Fri: 9am-9pm, Sat-Sun: 10am-8pm
          </p> 

          
        </div>
      </div>
        <div class="col-lg-8 side-features">
        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sen!2sen" allowfullscreen=""></iframe></div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-ucZTcS8kSY" once="footers" id="footer-6-ucZTcS8kSY">

        

    

    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">
                  
                  
                  
                  
                <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">About</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Services</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Blog</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Contact</a>
                  </li></ul>
              </div>

            
            <div class="col-12 mt-4">
                <p class="mbr-fonts-style copyright display-7">© 2024 munch. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>


  <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/parallax/jarallax.js"></script>
  <script src="~/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="~/assets/ytplayer/index.js"></script>
  <script src="~/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="~/assets/vimeoplayer/player.js"></script>
  <script src="~/assets/masonry/masonry.pkgd.min.js"></script>
  <script src="~/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="~/assets/theme/js/script.js"></script>
  <script src="~/assets/formoid/formoid.min.js"></script>
  
  
  
</body>
</html>