@{
    ViewData["Title"] = "TestDatabaseConnection";
}

<h1>@ViewBag.Message</h1>

@if (ViewBag.Restaurants != null)
{
    <h2>Restaurants:</h2>
    <ul>
        @foreach (var restaurant in ViewBag.Restaurants)
        {
            <li>@restaurant</li>
        }
    </ul>
}
else
{
    <p>No restaurants found.</p>
}