@using EffectiveWebProg.Models
@model ItemsModel

<div>
    <h4>Delete Item</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemID" />
        <div class="form-group">
            <label asp-for="ItemName" class="control-label"></label>
            <input asp-for="ItemName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="ItemPic" class="control-label"></label>
            <input asp-for="ItemPic" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="CatID" class="control-label"></label>
            <input asp-for="CatID" class="form-control" readonly value="@ViewBag.CatName" />
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
