.container {
  max-width: 80%;
}
.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eddcd9;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #e99f4c;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  display: flex;
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #e99f4c;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus,
.rbtn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #e99f4c;
}

.rbtn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #de5499;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #e99f4c;
}

.rbtn:hover {
  opacity: 0.9;
}
.gbtn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: green;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #e99f4c;
}

.gbtn:hover {
  opacity: 0.9;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.map-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #e99f4c;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: 30%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#pac-input {
  margin-top: 10px;
  width: calc(100% - 100px);
  padding: 10px;
  z-index: 1050;
  position: relative;
}

.pac-container {
  z-index: 2000 !important;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#map {
  height: 500px;
  width: 100%;
}

.controls {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  width: calc(100% - 20px);
  z-index: 1000;
}

#pac-input {
  margin-top: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  z-index: 1050;
  position: relative;
}

.pac-container {
  z-index: 2000 !important;
}
