* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

nav {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.l-btn {
  display: inline-block;
  background-color: rgb(255, 255, 25);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  transition: all 0.2s ease-in-out 0ms;
}

.l-btn:hover {
  background-color: rgb(0, 0, 0);
  transition-delay: 10ms;
  color: rgb(255, 255, 255);
}

.a-btn {
  display: inline-block;
  background-color: rgb(255, 255, 25);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  overflow: hidden;
}

.a-btn:hover {
  background-color: rgb(0, 0, 0);
  transition: width 1s;
  color: rgb(255, 255, 255);
  width: 230px;
}

.a-btn:hover span {
  display: none;
}

.a-btn:hover::after {
  content: "Register for User";
}


.r-btn {
  display: inline-block;
  background-color: rgb(32, 210, 255);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 20px; /* Add margin to create space between buttons */
}

.r-btn:hover {
  background-color: rgb(0, 0, 0);
  transition: width 1s;
  color: rgb(255, 255, 255);
  width: 230px;
}

.r-btn:hover span {
  display: none;
}

.r-btn:hover::after {
  content: "Register for Restaurant";
}

/* ------------- Hero section css --------------- */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 2rem;
}

.hero {
  background-color: white;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  padding: 0 2rem;
}

.column-left h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.column-left p {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

@keyframes bounce {
  from {transform: translate3d(0, 0, 0);}
  to {transform: translate3d(0, 20px, 0);}
}

.hero-img{
  animation: bounce 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/* ------------------------------------------- */


/* ------------- Feature 1 css --------------- */
.feature-1 {
  width: 100%;
  min-height: 90%;
  display: grid;
  place-items: center;
}

.feature-1-box {
  width: 85%;
  background-color: rgb(255, 255, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.show {
  opacity: 1;
}

.feature-1-box-left, 
.feature-1-box-right {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  place-items: center;
}

.feature-1-box-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.feature-1-box-description {
  font-size: 1.5rem;
  width: 100%;
}
/* ------------------------------------------- */

/* ------------- Feature 2 css --------------- */
.feature-2 {
  width: 100%;
  min-height: 90%;
  display: grid;
  place-items: center;
  margin-top: 40px;
}

.feature-2-box {
  width: 85%;
  background-color: rgb(32, 210, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}
 
.feature-2-box-right {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  place-items: center;
}

.feature-2-box-left {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 20px;
  display: grid;
  place-items: center;
}

.feature-2-box-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.feature-2-box-description {
  font-size: 1.5rem;
  width: 100%;
}
/* ------------------------------------------- */
/* ------------- Feature 3 css --------------- */
.feature-3 {
  width: 100%;
  min-height: 90%;
  display: grid;
  place-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature-3-box {
  width: 85%;
  background-color: rgb(255, 255, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.feature-3-box-left, 
.feature-3-box-right {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  place-items: center;
}

.feature-3-box-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.feature-3-box-description {
  font-size: 1.5rem;
  width: 100%;
}
/* ------------------------------------------- */

@media screen and (max-width: 760px) {
  .hero-container {
    grid-template-columns: 1fr;
  }

  .column-left {
    align-items: center;
  }

  .column-left h1 {
    text-align: center;
  }

  .column-left p {
    text-align: center;
  }

  .column-left a
  .feature-1-box {
    flex-direction: column;
  }
  .hero-img {
    margin-top: 5px;
  }

  .feature-1-box {
    flex-direction: column;
  }
  
  .feature-2-box {
    flex-direction: column;
  }

  .feature-3-box {
    flex-direction: column;
  }

  .feature-1-box-title {
    text-align: center;
  }

  .feature-2-box-title {
    text-align: center;
  }

  .feature-3-box-title {
    text-align: center;
  }

  .feature-1-box-description {
    text-align: center;
  }

  .feature-2-box-description {
    text-align: center;
  }

  .feature-3-box-description {
    text-align: center;
  }
}