.container {
  background-color: white;
  margin-top: 20px;
}

.profile-header {
  position: relative;
}

.cover-photo {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.cover-photo img {
  width: 100%;
  height: auto;
}

.edit-cover-photo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.profile-info {
  position: absolute;
  margin-top: -75px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border: 100% solid white;
}

.profile-content {
  margin-top: 20px;
}

.list-group-item {
  background-color: #f8f9fa;
  color: #333;
  border: none;
}

.list-group-item:hover,
.list-group-item.active {
  background-color: #e9ecef;
  color: #333;
}

h3,
h4 {
  margin-top: 20px;
}

.star-rating .fa-star {
  color: gold;
}
.profile-bio {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;

  margin-bottom: 15px;
}
h2 {
  display: inline-block;
  margin-top: 10px;
}
button {
  display: inline-block;
  margin-top: 10px;
}
.profile-bio p {
  margin: 5px 0;
}
.profile-bio .website-link {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.profile-bio .website-link i {
  margin-right: 5px;
  color: #007bff;
}

.profile-body {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
#map {
  margin-top: 20px;
  border: 1px solid #ddd;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-item .nav-link {
  color: #333;
}

.nav-tabs .nav-item .nav-link.active {
  border: none;
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.profile-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
  margin-top: 20px;
}
.tab-link {
  background-color: #fff;
  border: none;
  padding: 14px 16px;
  cursor: pointer;
  font-size: 16px;
  border-top: 2px solid transparent;
  outline: none;
}

.tab-link:hover {
  background-color: #f1f1f1;
}

.tab-link.active {
  border-top: 2px solid #0095f6;
  color: #0095f6;
}

.tab-content {
  padding: 20px;
  display: none;
}

.tab-content h3 {
  margin-top: 0;
}

/* Initially show the first tab */
.tab-content:first-child {
  display: block;
}

.l-btn {
  display: inline-block;
  background-color: rgb(255, 255, 25);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  transition: all 0.2s ease-in-out 0ms;
}

.l-btn:hover {
  background-color: rgb(0, 0, 0);
  transition-delay: 10ms;
  color: rgb(255, 255, 255);
}

.f-btn {
  display: inline-block;
  background-color: #00e600;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  overflow: hidden;
}

.f-btn:hover {
  background-color: rgb(0, 0, 0);
  transition: width 1s;
  color: rgb(255, 255, 255);
}

.e-btn {
  display: inline-block;
  background-color: #4d94ff;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px; /* Add margin to create space between buttons */
}

.e-btn:hover {
  background-color: rgb(0, 0, 0);
  transition: width 1s;
  color: rgb(255, 255, 255);
}

.m-btn {
  display: inline-block;
  background-color: #d9d9d9;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px; /* Add margin to create space between buttons */
}

.m-btn:hover {
  background-color: rgb(0, 0, 0);
  transition: width 1s;
  color: rgb(255, 255, 255);
}

.r-btn {
  display: inline-block;
  background-color: #ff8533;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px; /* Add margin to create space between buttons */
}

.r-btn:hover {
  background-color: rgb(0, 0, 0);
  transition: width 1s;
  color: rgb(255, 255, 255);
}

.img-fluid {
  width: 300px;
  height: 300px;
  object-fit: fill;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Max width for larger screens */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
}

.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #2260ff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Reserve-btn {
  background-color: #e74c3c;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}

.Reserve-btn:hover {
  background-color: #c0392b;
}
.closebutton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 .closebutton .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }

 .closebutton svg {
  width: 18px;
  fill: #eee;
 }
 
 .closebutton:hover {
  background: #ff3636;
 }
 
 .closebutton:hover .text {
  color: transparent;
 }
 