.posts {
    background-color: #fff;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.03);
}

.posts:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.left-nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.post-header .post-info h4 {
    margin: 0;
}

.post-header .post-info span {
    color: #777;
}

.post-content p {
    margin: 0 0 15px 0;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.post-footer button {
    background: none;
    border: none;
    color: #1877f2;
}

.icon-text {
    margin-left: 5px;
}

aside {
    width: 300px;
    padding: 20px;
    background-color: #fff;
}

aside h3 {
    margin-top: 0;
}

aside .recommended {
    margin-top: 20px;
}

aside .activity ul,
aside .recommended ul {
    list-style: none;
    padding: 0;
}

aside .activity ul li,
aside .recommended ul li {
    margin: 10px 0;
}

aside .activity ul li span,
aside .recommended ul li span {
    color: #777;
}

.bg-white {
    background-color: white;
}

.sidebar {
    font-size: large;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar .sidebar-main-header {
    margin-top: 50px;
}

.sidebar .sidebar-main-header li {
    margin-top: 20px;
}

.sidebar h5 {
    margin-top: 80px;
}

.sidebar .sidebar-second-header li {
    margin-top: 20px;
}

.images-table {
    white-space: nowrap;
    width: 100%;
    display: table;
}

.images-table .test {
    height: 350px;
    vertical-align: middle;
    padding: 5px;
    display: table-cell;
}

.test img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mb-6 {
    margin-bottom: 100px;
}

.modal-info-dialog {
    max-width: 90vw;
    max-height: 90vh;
}

.modal-info-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 1200px) {
    .modal-info-content {
        width: 70%; /* adjust as needed */
        margin: auto; /* centers the modal */
    }
}
.modal-image {
    flex: 2;
    background-color: #f5f5f5;
    padding: 20px;
}
.modal-image img {
    width: 800px;
    height: 600px;
    object-fit: contain;
}
.modal-info-details {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Enable vertical scroll if content overflows */
}
.modal-info-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.modal-info-message {
    font-size: 18px;
    margin-bottom: 20px;
}
.modal-info-comments {
    font-size: 14px; /* Smaller font size */
    color: #333; /* Dark gray text */
    border-top: 1px solid lightgray; /* Border on top only */
    padding: 15px 10px; /* More vertical padding, less horizontal padding */
    margin-bottom: 10px; /* Space between comments */
}
.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.modal-post-content {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.modal-post-header {
    border-bottom: 1px solid #ddd;
}

.modal-post-title {
    font-size: 24px;
    color: #333;
}

.modal-post-body {
    padding: 20px 0;
}

.modal-post-body label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
}

.modal-post-body input[type="text"],
.modal-post-body textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.modal-post-body input[type="file"] {
    border: none;
}

.modal-post-footer {
    border-top: 1px solid #ddd;
    justify-content: flex-end;
}

.form-group {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.input-area {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
    background-color: #f0f2f5;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-area:hover {
    background-color: #e0e2e5;
}

.profile-pic {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 10px;
}

.input-field {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 16px;
    color: #888;
}

.look-text {
    box-shadow: none;
    resize: none;
}

.modal-info-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.modal-info-header h4 {
    margin-bottom: 0px;
}

.modal-info-header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

/* Right Nav Bar */
.right-sidebar {
    width: 20%; /* Ensure it takes the full width of the parent */
    height: 100vh;
    position: fixed;
    right: 0; /* Align to the right of the viewport */
    background-color: #f7f7f7;
    border-left: 1px solid #e7e7e7;
    padding: 1rem;
}

.right-sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.right-sidebar-title {
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#sidebar-container {
    position: relative;
    width: 20%;
}