@model PostsModel

@*temporary variable*@
@{
    var userID = Guid.Parse(ViewBag.UserID);
}

<div>
    <form asp-action="CreatePosts" asp-controller="Posts" method="post">
        <div class="form-group">
            <input type="hidden" name="UserId" value="@userID" />

            <label for="post">Post:</label>
            <input asp-for="PostContent" type="text" class="form-control" required>

            <label for="location">Location:</label>
            <input id="restaurant-search" name="restaurant-search" type="text" class="form-control"/>
            <input type="hidden" name="TaggedRest" id="itemId" />

            <label for="pictures">Pictures:</label>
            <input type="file" id="pictures" name="pictures" accept="image/*" multiple onchange="previewImages();" class="form-control">

            <div id="imagePreview"></div>
        </div>
        <button type="submit" class="btn btn-primary float-end">Create Post</button>
    </form>
</div>
