<div>
    <form asp-action="CreatePost" asp-controller="Posts" id="createPostForm" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="post">Post:</label>
            <input type="text" name="postContent" class="form-control" style="margin-bottom: 10px;" required>
            @* <textarea type="text" name="postContent" class="form-control" required></textarea> *@

            <label for="pictures">Pictures:</label>
            <input type="file" id="picturesInput" name="pictures" accept="image/*" multiple class="form-control" style="margin-bottom: 20px;" required>

            <div id="imagePreviewContainer"></div>
        </div>
        <button type="submit" class="btn btn-primary float-end">Create Post</button>
    </form>
</div>
