@model PostsModel

<form asp-action="EditPost" asp-controller="Posts" method="post">
    <h1>Edit Post:</h1>
    <input type="hidden" name="postID" value=@Model.PostID />

    <label for="post">Post:</label>
    <input type="text" name="content" class="form-control" required>

    <label for="location">Location:</label>
    @if (@Model.TaggedRestaurant != null)
    {
        <input id="restaurant-search" name="restaurant-search" type="text" value="@Model.TaggedRestaurant.RestName"
            class="form-control" />
    }
    else
    {
        <input id="restaurant-search" name="restaurant-search" type="text" class="form-control" />
    }
    <input type="hidden" name="taggedRestID" id="itemId" value="@Model.TaggedRest" />

    @*
    <label for="pictures">Pictures:</label>
    <input type="file" id="pictures" name="pictures" accept="image/*" multiple class="form-control">*@
    <button type="submit" class="btn btn-primary float-end mt-3">Edit Post</button>
</form>
