<form asp-action="EditPost" asp-controller="Posts" method="post">
    <h1>Edit Post:</h1>
    <input type="hidden" name="postID" value=@Model.PostID />

    <label for="post">Post:</label>
    <input type="text" name="content" class="form-control" required>

    <button type="submit" class="btn btn-primary float-end mt-3">Edit Post</button>
</form>
