@model List<FoodListsModel>

@{
    ViewData["Title"] = "FoodLists Page";
    <link href="~/css/foodlist.css" rel="stylesheet"/>
}

<div class="container">
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search for a Foodlist">
        <button id="search-button" class="btn btn-secondary">Search</button>
    </div>

    <h2>Foodlists</h2>

    <div class="row mb-3">
        <div class="col-md-12">
            <button class="btn btn-primary btn-modal" data-url="@Url.Action("CreateFoodLists", "FoodList")">Create</button>
        </div>
    </div>

    <div class="foodlist-container">
        @foreach (var item in Model)
        {
            @Html.Partial("_FoodListPartial", item)
        }
    </div>

    @* Modal *@
    <div class="modal fade" id="modalFoodList" tabindex="-1" role="dialog" aria-labelledby="modalFoodListLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFoodListLabel">Food List</h5>
                </div>
                <div class="modal-body">
                    <!-- Modal content loaded here -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn-modal').click(function () {
                var url = $(this).data('url'); 
                $.get(url, function (data) {
                    $('#modalFoodList .modal-body').html(data);
                    $('#modalFoodList').modal('show');
                });
            });

            $('.save-changes').click(function () {
                var form = $('#modalFoodList form');
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (result) {
                        $('#modalFoodList').modal('hide');
                        location.reload(); // Simple refresh, can be improved
                    }
                });
            });

            $('#search-button').click(function () {
                var searchQuery = $('#search-input').val();
                $.get('@Url.Action("Index", "FoodList")', { searchQuery: searchQuery }, function (data) {
                    $('.foodlist-container').html($(data).find('.foodlist-container').html());
                });
            });
        });
    </script>
}
