@{
    ViewData["Title"] = "Foodlist";
}

<div class="Foodlist-container">
    <div class="Foodlist-topbar">
        <input type="text" placeholder="Search for foodlist" class="Foodlist-searchbar">
        <button class="Foodlist-searchbar-button">Search</button>
    </div>
</div>