@{
    ViewData["Title"] = "Foodlist";
}

<div class="main-foodlist-container">
    <div class="foodlist-topbar">
        <input type="text" placeholder="Search for foodlist" class="foodlist-searchbar">
        <button class="Foodlist-searchbar-button">Search</button>
    </div>
    <div class="foodlist-container">
        
    </div>
</div>